streamlit>=1.32.0 # used streamlit for  the frontend  and deployment of the application
supabase>=2.3.0 # used supabase for the backend and database management of the application
python-dotenv>=1.0.0 # used python-dotenv for managing environment vriables in the application
bcrypt>=4.1.0 # used bcrypt for hashing passwords and  securing user authentication in the application
pdfplumber>=0.10.0 #used pdfplumber for extracting text from PDF documents in the application
python-docx>=1.1.0 # used pythondocx for extracting text from word documents in the application
spacy>=3.7.0 # used spacy for natural language processing tasks such as tokenizaton, lemmatization, and named entity recognition in the application
sentence-transformers>=2.6.0 # used sentence  transformers for generating sentence embeddings  for the documents and user queries in the application
faiss-cpu>=1.8.0 # used faiss for efficient similarity search and clustering of the document embeddings in the application
numpy>=1.26.0 #
requests>=2.31.0 # used requests for making HTTP requests to the OpenAI API and other external services in the application
sendgrid>=6.9.0 # used sendgrid for sending email notifications to users in the application
google-genai>=1.0.0 # used google-genai for integrating Google Gemini API for generating responses to user queries in the application
hypothesis>=6.100.0 # used hypothesis for property-based testing and generating test cases for the application
pytest>=8.0.0 # used pytest for writing and running unit tests and integration tests for the application
torch>=2.0.0 # used torch for deep learning tasks and model training in the application
transformers>=4.0.0  # used transformers for working with pre-trained language models and fine-tuning them for specific tasks in the application
scikit-learn>=1.0.0 # used scikit-learn for machine learning tasks such as clustering, classification, and regression in the application
